.header-container {
  background-color: #34107a;
  height: 50px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Roboto';
  align-items: center;
}
.header-logo-container {
  display: flex;

  justify-content: space-evenly;
  width: 150px;
  align-items: center;
  font-size: 18px;
}
.logo {
  color: white;
  height: 30px;
  width: 30px;
}

.header-buttons {
  display: flex;
  width: 700px;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.link {
  color: white;
  text-decoration: none;
}
.login-container {
  background-color: white;
  height: 30px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button {
  background-color: white;
  outline: none;
  border: none;
}
.login-icon-background {
  background-color: #34107a;
  width: 20px;
  height: 20px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.login-logo {
  color: white;
}
